
@media screen {
    #printSection {
        display: none;
    }
}
@media print {

	 body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    
    #gameDate {
    	margin-left:7em;
    	font-weight: bold;
    	font-size:110%;
     	word-break: keep-all;
     	display: inline-block;
    }
    
    #gameTime {
    	margin-left:1em;
    	width: 20px;
     	word-break: keep-all;
     	display: inline-block;
    }
    
    #gameTeams {
    	margin-left:1em;
    	margin-right:4em;
      width: 280px; 
      font-weight: bold;
    	font-size:150%;
     	display: inline-block;
    }
    
    #secName {
    	margin-top: 7em;
    	margin-left:13em;
    	font-weight: bold;
    	font-size:150%;
    	display: inline-block;
    }
    
    #secRow {
    	margin-top: 8em;
    	margin-left: 2em;
    	font-weight: bold;
    	font-size:150%;
    	display: inline-block;
    }
    #secPlace {
    	margin-top: 8em;
    	margin-left: 3em;
    	font-weight: bold;
    	font-size:150%;
    	display: inline-block;
    
    }
    
    #secPrice {
    	margin-top: 8em;
    	margin-left:2em;
    	font-weight: bold;
    	font-size:150%;
    	display: inline-block;
    }
}